<nav class="navbar bg-black fir">
    <div class="container-fluid">
      <span class="navbar-brand">
        <i class="bi bi-truck d-inline-block align-text-top one" alt="Logo"> Envios a todo el pais </i>
      </span>
      <span class="navbar-brand mid">
        <a class="tex" href="#"> Acerca de </a>
        <p>Contacto: +54-9-3764-503922</p>
      </span>
    </div>
</nav>

<nav class="navbar bg-dark bg-gradient">
    <div class="container-fluid sec">
        <a class="navbar-brand" href="#">
            <i class="bi bi-phone-fill d-inline-block align-text-top" alt="Logo"> Cell-Healt </i>
        </a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light srch" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <button type="button" class="btn btn-outline-light">LOGIN</button>
    </div>
</nav>

<nav class="navbar navbar-expand-sm bg-light thi">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Telésfonos</a>
        <a class="nav-link" href="#">Cargadores</a>
        <a class="nav-link" href="#">Fundas</a>
        <a class="nav-link" href="#">Auriculares</a>
        <a class="nav-link" href="#">Otros</a>
      </div>
    </div>
  </div>
</nav>